 <nav>
   <div class="container">
     <h2 class="logo">
       Moment
     </h2>
     <div class="search-bar">
       <i class="fa-solid fa-magnifying-glass"></i>
       <input type="search" placeholder="Search creators, inspirations.">
     </div>
     <% if user_signed_in? %>
     <div class="nav-item dropdown">
       <a href="#" class="profile-photo" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true"
         aria-expanded="false">
         <%= image_tag "https://images.unsplash.com/photo-1583864697784-a0efc8379f70?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=688&q=80", class: "avatar", alt: "dropdown menu" %>
       </a>
       <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
         <%= link_to "Profile", "users", class: "dropdown-item" %>
         <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
       </div>
     </div>
     <% else %>
     <li class="nav-item">
       <%= link_to "Sign-up", new_user_registration_path %>
     </li>
     <li class="nav-item">
       <%= link_to "Login", new_user_session_path, class: "nav-link" %>
     </li>
     <% end %>
   </div>
 </nav>
